.img{
	width: 200px;
}
.left{
	float:left;
}
.right{
	float:right;
}
.img-container li{
	display: inline-block;
	width: 22%;
	padding: 10px;
}
.img-container {
  text-align: center;
  margin-top: 20px;
  width: 100%;

}

.img-container img {
  width: 100%;
  display: inline-block;
  transition: 25ms;
}

.img-container ul li {
  list-style-type: none;
}
.img{
	transform: scale(0.95)

}
.img img:hover{
	transform: scale(1)
}
